.fixed-width-btn {
    width: 90px; /* фіксована ширина кнопки */
}
.progress {
    height: 1.5rem; /* Висота прогрес-бару для кращого вигляду */
}
.card {
    max-width: 100%; /* Максимальна ширина картки для мобільних пристроїв */
}

.progress-bar {
    width: 33%;
}
